* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: Roboto, Halvetica, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #017b7b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #017b7b;
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background-color: #3D3D3D;
}
